<footer class="footer">
  {% include 'interface/menu.twig' %}
  <div class="social">
    <a href="http://facebook.com" target="_blank" class="ico-social social_fb"></a>
    <a href="http://twitter.com" target="_blank" class="ico-social social_tw"></a>
  </div>
  <a href="http://www.vcgworld.com" target="_blank" class="ico-vcg"><img alt="" src="{{ app.request.basepath }}/public/images/vcg.png" title=""></a>
</footer>
