<div class="languages-h">
  <ul class="languages">
    {% for lang, title in data.languages %}
      <li class="languages-i">{{ title }}</li>
    {% endfor %}
  </ul>
  <i class="ico-a a-bottom c__d"></i>
</div>