<div class="languages-h">
  <ul class="languages">
    {% for lang, title in data.languages %}
      {% if lang == app.request.locale %}
        <li class="languages-i">
          <span>{{ title }}</span>
          <i class="ico-a a-bottom"></i>
        </li>
      {% else %}
        <li class="languages-i">
          <a href="{{ path(app.request.attributes.get('_route'), {_locale: lang}) }}">{{ title }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
