.bottom_heading
  display inline-block
  vertical-align top
  position relative
  left 100px
  width 520px !important

.explore_holder
  display inline-block
  vertical-align top
  position relative
  padding-left 70px
  width 280px
  font-size 16px
  line-height 22px
  span
    font-family heavy
    font-size 12px
    text-transform uppercase
  a
    font-family italic

.explore_link
  display inline-block
  position relative
  margin-top 5px
  padding-right 20px
  .ico-a_big-right
    right 0
    top 12px

.explore_ico
  position absolute
  left 0
  top 0