.corporate-profile_list
  margin-bottom $remify(46px)
  padding-bottom $remify(10px)
  /*border-bottom 1px solid $lightGrey*/
  .project-technoblock_title
    margin-bottom $remify(4px)
  li
    margin-bottom $remify(41px)
    position relative
    padding-left $remify(190px)

.corporate-portrait
  position absolute
  left 0
  top $remify(-5px)
  width $remify(141px)

.corporate-title
  margin-bottom $remify(14px)
  $itallic($remify(13px))
  line-height $remify(20px)

.corporate-text
  $book($remify(16px))
  line-height $remify(19px)

.corporate-managers_list
  margin-top $remify(17px)
  margin-bottom 0
  border-bottom none


