.media_pagination
  margin-top $remify(32px)
  li
    display inline-block
    vertical-align middle
    margin-left $remify(6px)
    $bold($remify(12px))
    line-height $remify(14px)
    color $darkGrey
    span
      color $green
    a
      cursor pointer
      $transition()
    &:first-child
      margin-left 0
    &:nth-child(n+2):nth-child(-n+5)
      &:before
        content '\00B7'
        $bold($remify(14px))
        margin-right 3px
    &:hover
      a
        color $green
