.news_heading_separator
  margin-top $remify(31px)
  margin-bottom $remify(29px)
  width $remify(150px)
  height 2px
  background-color $mediumGrey

.news_text
  margin-bottom $remify(34px)
  width $remify(450px)
  $book($remify(16px))
  line-height $remify(22px)
  color $darkGrey
  span
    display block
    margin-bottom $remify(12px)
    $book($remify(20px))
    line-height $remify(26px)
    color $black

.news_image_holder
  position relative
  margin-bottom $remify(35px)
  width $remify(520px)

.news_image_sidetext
  position absolute
  right $remify(-190px)
  top $remify(-5px)
  width $remify(150px)
  $itallic($remify(13px))
  line-height $remify(20px)
  color $darkGrey
