.tmp_page
  position absolute
  width 100%
  height 100%
  top 0
  left 0
  .e-popup_section
    display block
  h1
    text-align center
    color #fff
    font-family heavy
    font-size 21px
    line-height 47px
    margin 0
    padding 0


.tmp_message
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)