.support_section
  margin 59px 100px


.support_list
  + .support_list
    margin-top 43px
    padding-top 30px
    border-top 2px solid rgb(98,105,103)


.left_side
  display inline-block
  vertical-align top
  .support_section &
    width 75%

.right_side
  display inline-block
  vertical-align top
  .support_section &
    width 22%
    margin-left 3%