.support_section
  margin 59px 100px


.support_list
  + .support_list
    margin-top 43px
    border-top 2px solid rgba(98,105,103, 0.2)
    padding-top 30px

.left_side
  display inline-block
  vertical-align top
  .support_section &
    width 75%

.right_side
  display inline-block
  vertical-align top
  .support_section &
    width 22%
    margin-left 3%