.plans-b-tmp
  margin-top 70px

.menu-i-tmp
  .menu-t
    font-size 14px
    line-height 18px
    font-family italic
    color #9c9c9c
    transition all 0.3s ease-in-out
    cursor pointer
    &:hover
      color #979998

.terms_section
  position absolute
  right 50px
  top 25px
