<div data-popup="error" class="e-popup_section">
  <h1>{{ data.popups.error.heading }}</h1>
  <div class="popup_sent_text popup_text">
    {{ data.popups.error.text }}
  </div>
  <button class="popup_button confirm_popup" type="button">
    {{ data.popups.terms.button }}
    <i class="ico-a_right"></i>
  </button>
</div>
