<div data-popup="sent" class="e-popup_section">
  <h1>{{ data.popups.sent.heading }}</h1>
  <div class="popup_sent_text popup_text">
      {{ data.popups.sent.text }}
  </div>
  <button class="popup_button">
      {{ data.popups.terms.button }}
      <i class="ico-a_right"></i>
  </button>
</div>
