<div data-popup="terms" class="e-popup_section">
  <h1>{{ data.popups.terms.heading }}</h1>
  <ol class="terms_conditions popup_text">
      {% for term in data.popups.terms.tnc %}
          <li>{{ term }}</li>
      {% endfor %}
  </ol>
  <button class="popup_button">
      {{ data.popups.terms.button }}
      <i class="ico-a_right"></i>
  </button>
</div>
