@import 'lib/fonts'
webfont('GeometriaRegItalic', 'Geometria-RegularItalic', false)
webfont('GeometriaReg', 'Geometria-Regular', false)
webfont('GeometriaHeavy', 'Geometria-Heavy', false)
webfont('GeometriaBold', 'Geometria-Bold', false)
