@import 'lib/fonts'
webfont('GeometriaRegItalic', 'Geometria-RegularItalic', false)
webfont('GeometriaReg', 'Geometria-Regular', false)
webfont('GeometriaHeavy', 'Geometria-Heavy', false)
webfont('GeometriaBold', 'Geometria-Bold', false)


@font-face
  font-family 'brandico'
  src url('../fonts/brandico.eot')
  src url('../fonts/brandico.eot#iefix') format('embedded-opentype'),
       url('../fonts/brandico.woff') format('woff'),
       url('../fonts/brandico.ttf') format('truetype'),
       url('../fonts/brandico.svg#brandico') format('svg')
  font-weight normal
  font-style normal