@import 'lib/fonts'
webfont('officinaBook', 'OSN45', false)
webfont('officinaItallic', 'OSR46', false)
webfont('officinaBold', 'OSR65', false)
webfont('officinaSuperBold', 'OSN75', false)


@font-face
  font-family 'brandico'
  src url('../fonts/brandico.eot')
  src url('../fonts/brandico.eot#iefix') format('embedded-opentype'),
       url('../fonts/brandico.woff') format('woff'),
       url('../fonts/brandico.ttf') format('truetype'),
       url('../fonts/brandico.svg#brandico') format('svg')
  font-weight normal
  font-style normal