{% extends 'index.twig' %}

{% block page %}

<section class="p_inner">
  <div class="inner_content">
    <div class="e-inner_heading">
      <h1 class="e-heading c__w">{{ index.page_heading }}</h1>
    </div>
    <div class="plans_info">

    </div>
  </div>
</section>

{% endblock %}