{% extends 'layout.twig' %}
{% block content %}
<div class="tmp_page">
  <div class="tmp_message">
    <div class="e-popup_section">
      <h1>{{ data.popups.sent.heading }}</h1>
      <div class="popup_sent_text popup_text">
        {{ data.popups.sent.text }}
      </div>
    </div>
  </div>
</div>
{% endblock %}