.contacts_list
  margin 0
  padding 0
  list-style none
  font-size 16px
  line-height 22px
  .right_side &
    margin-bottom 28px
  li
    .right_side &
      + li
        margin-top 8px
    span
      color rgb(197,198, 198)
    strong
      color #fff
      font-family heavy
    i
      font-family italic
      color #fff