@import 'icons'

.e-heading
  font-family heavy
  font-size 48px
  line-height 60px

.e-title__hv
  font-family heavy
  color #fff
  &.hv_big
    font-size 24px
    line-height 28px
  &.hv_smal
    font-size 20px


/*
  c__* => color {black/green/yellow}
*/


.c__b
  color #000

