@import 'icons'
@import 'list'
@import 'contacts'
@import 'banner'

.e-heading
  font-family heavy
  font-size 48px
  line-height 60px
  margin 0
  padding 0
  .e-inner_heading &
    display inline-block
    width 586px
    text-align left


.e-inner_heading
  text-align right


.e-heading_question
  position absolute
  top -25px
  color rgba(0,0,0, 0.8)
  font-family reg
  font-size 16px


.e-title__hv
  font-family heavy
  color #fff
  margin 0
  padding 0
  &.hv_big
    font-size 24px
    line-height 28px
    text-transform uppercase
    letter-spacing 0.1em
  &.hv_med
    font-size 21px
  .plans-i &
    width 80%
  &.hv_small
    font-size 20px
  &.hv_small-upper
    text-transform uppercase
    letter-spacing 0.15em
    font-size 20px


/*
  .text_banner-t => banner text area
  .text_banner-h => banner title
*/

.t-banner_t
  font-size 16px
  line-height 22px
  font-family italic
  color #fff
  display block
  width 266px
  margin-bottom 34px


.t-banner_h
  font-size 20px
  color #fff
  font-family heavy
  text-transform uppercase
  letter-spacing 0.15em
  position relative
  display inline-block
  padding-right 20px
  white-space nowrap
  text-overflow ellipsis
  overflow hidden
  max-width 100%
  box-sizing border-box


.t-banner
  position absolute
  display block
  width 416px
  height 160px
  box-sizing border-box
  padding 30px
  bottom -65px
  right -100px

.t-banner_s
  position relative


.e-title__it
  font-size 24px
  color #fff
  margin 0
  padding 0
  font-family italic
  &.title_border
    border-bottom 2px solid rgba(98, 105, 103, 0.2)
    padding-bottom 15px
    margin-bottom 25px
  &:first-letter
    text-transform uppercase



/*
  c__* => color {black/green/yellow}
*/

inputgrey = rgb(135,135,135)

.c__b
  color #000

.c__w
  color #fff

.bg__brown
  background-color rgba(60,46,36, 0.86)

.bg__trans_grey
  background-color rgba(87,93,91,0.8)

.e-support_holder
  position relative
  .right_side &
    border-top 2px solid rgba(98,105,103,0.2)
    padding-top 30px


.e-support-text
  margin-bottom 15px
  font-size 14px
  line-height 20px
  color rgba(255,255,255,0.65)

/* links */

.e-link
  font-size 16px
  font-family reg
  color #fff
  display inline-block
  height 46px
  white-space nowrap
  position relative
  line-height 46px
  box-sizing border-box
  padding 0 40px 0 28px
  .e-heading-inner &
    margin-top 34px

.e-inner-banner
  position absolute
  left 780px
  top 410px
  width 415px
  height 160px
  padding 30px
  box-sizing border-box

.e-content_container
  display block
  position relative
  margin 0 auto
  margin-top 60px
  width 1000px

.e-left_column, .e-right_column
  display inline-block
  vertical-align top
  position relative
  width 485px

.e-right_column
  margin-left 30px
  margin-top 135px