.footer
  .e-quarterblock_inside_wide
    width $remify(300px)
    color $white
    background-color transparent

.footer-quarter_inline_block
  display inline-block
  vertical-align top
  width $remify(300px)
  height $remify(300px)

.footer-bordered_blocks
  border-bottom 1px solid $lightGrey
  &:first-child
    border-right 1px solid $lightGrey

.footer-halfblock
  background-size cover
  .e-quarterblock_inside_wide
    background-color $white
    top 0
    border-top 1px solid $lightGrey

.footer-halfblock-halfed
  height $remify(300px)
  background-size cover
  background-position bottom

.footer-news_carousel
  position absolute
  left 0
  right 0
  top 0
  bottom 0
  .e-news_title
    margin-top 0
    $superBold($remify(20px))
    line-height $remify(24px)
    color $black

.footer-contact_block
  text-align left
  .e-news_title
    $itallic($remify(13px))
    color $lightGrey

.footer-contact_details
  margin-top $remify(2px)
  $book($remify(16px))
  line-height $remify(22px)
  li
    margin-bottom $remify(8px)
.footer-contact_social
  margin-top $remify(11px)
  li
    display inline-block
    margin-right $remify(12px)
    margin-top 2px
  li.footer-contact_social_title
    margin-top 0
    display block
    $itallic($remify(13px))
    color $lightGrey

.footer-social_icons
  width 100%
  max-width $remify(14px)
  max-height $remify(14px)

.footer-contact_mail
  color $blue

.footer_halfblock_info_holder
  position absolute
  right 0
  bottom 0
  padding 0
  width $remify(300px)
  background-color transparent
  text-align left
  color $white
  .e-wide_title
    margin-top $remify(108px)
    margin-bottom $remify(4px)

.e-small_subtitle
  $book($remify(16px))
  line-height $remify(19px)
  margin-bottom $remify(21px)

.col-xs-border-top
  border-top 1px solid $lightGrey

.footer-bordered_blocks_right
  border-right 1px solid $lightGrey