.footer
  position relative
  padding 35px 0 5px 0
  margin 80px 100px 0 100px
  height 125px
  box-sizing border-box
  border-top 1px solid rgba(255,255,255, 0.1)


.social
  position absolute
  top 27px


/*
 .f-banner_t => footer banners text
*/

.f-banner_t
  font-size 16px
  line-height 22px
  color rgba(0,0,0, 0.65)
  font-family italic
  margin-top 11px


.f-banner
  clearfix()
  margin 115px 100px 0 100px

.f-banner_b
  float left
  .f-banner &
    width 200px
  .plans_banners &
    width 225px
  +.f-banner_b
    .f-banner &
      margin-left 58px
    .plans_banners &
      margin-left 30px



.f-banner_svg
  height 60px
  margin-bottom 10px

