.plan_form
  .popup_button
    margin-left 0
  &.center
    display table
    margin 0 auto


.form_heading
  display block
  padding 0
  margin 0
  font-family heavy
  font-size 21px
  line-height 47px
  color #ffffff

.form_input
  position relative
  margin-bottom 17px
  &:last-child
    margin-bottom 0
  label,input, select
    display inline-block
    vertical-align middle
    border-radius 0
    border none
    box-sizing border-box
  label
    width 100px
    font-size 16px
  &.sim_type
    label
      width auto
      margin-right 20px
  input[type=text], select
    width 280px
    height 24px
    padding 0 5px
    color #000000
    font-size 14px
    line-height 24px
    border 1px solid transparent

.form_input
  input[type=text]
    transition all .15s ease-in-out
    &:focus
      outline none
      box-shadow:  0 0 0 1px rgba(255,255,255, .2), 0 0 0 1px rgba(255,255,255, .2);


select
  &:focus
    outline none
    box-shadow:  0 0 0 1px rgba(255,255,255, .2), 0 0 0 1px rgba(255,255,255, .2);


.form_center
  display block
  position relative
  margin 0 auto
  text-align center
  input
    margin-right 10px
  label
    margin-right 40px
    &:last-child
      margin-right 0

.form_condition_agreement
  border-top 2px solid rgba(255, 255, 255, 0.2)
  padding-top 20px
  margin-bottom 50px
  margin-top 17px
  input, label
    display inline-block
    vertical-align middle
    font-family italic
  input
    margin-right 14px


.tc_click
  color #fff
  transition opacity .2s ease-in-out
  &:hover
    opacity .5


.pers_info_input_error
  display none
  margin-left 100px
  margin-top 5px

.input_error
  border 1px solid red !important



.sim_type
  margin-top 28px
  .form_sim_heading
    width 100px
    font-size 16px
  .form_sim_heading, input, label
    display inline-block
    vertical-align middle
  input
    margin-right 10px


.form_radio
  input
    margin-right 10px
  label
    margin-right 40px

.form_support_block
  width 226px
  position absolute
  right 0
  top 130px
  .form_support_text
    font-size 14px
    line-height 20px
    padding-bottom 6px
    color rgba(255,255,255, 0.65)
  a
    color #fff
    font-size 16px
    line-height 25px

.plan_form
  .form_input label
    color rgb(200,200,200)

.radio_item
  display inline-block
  vertical-align middle
  position relative

input:checked + label
  color #fff !important
  .icon_svg
    opacity 1

input
  &:focus
    outline none

.e-radio_hover:not(:checked) + label
  &:hover
    .icon_text
      opacity .5

input[type="checkbox"].input_error + label
  color #f00 !important


.popup_form
  display block
  width 390px
  .e-popup_container &
    padding-bottom 20px
  label
    transition all .2s ease-in-out
  input, label
    display inline-block
    vertical-align middle

.form_input-company
  display none