.form_input
  position relative
  margin-bottom 17px
  &:last-child
    margin-bottom 0
  label,input, select
    display inline-block
    vertical-align middle
    border-radius 0
    border none
    box-sizing border-box
  label
    width 100px
    font-size 16px
  &.sim_type
    label
      width auto
      margin-right 20px
  input[type=text], select
    width 280px
    height 24px
    padding 0 5px
    color #000000
    font-size 14px
    line-height 24px



.form_center
  display block
  position relative
  margin 0 auto
  text-align center
  input
    margin-right 10px
  label
    margin-right 40px
    &:last-child
      margin-right 0

.form_condition_agreement
  border-top 2px solid rgba(255, 255, 255, 0.2)
  padding-top 20px
  margin-bottom 50px
  input, label
    display inline-block
    vertical-align middle
    font-family italic
  input
    margin-right 14px


.pers_info_input_error
  display none
  margin-left 100px
  margin-top 5px

.input_error
  border 1px solid red !important



.sim_type
  margin-top 28px
  .form_sim_heading
    width 100px
    font-size 16px
  .form_sim_heading, input, label
    display inline-block
    vertical-align middle
  input
    margin-right 10px


.form_radio
  input
    margin-right 10px
  label
    margin-right 40px
