/**
  //TODO renew icons arrow styles
**/

.ico-a
  position absolute
  width 12px
  height 14px
  display block
  right 0
  top 0
  &.a-bottom
    &.c__d:after, &.c__d:before
      background-color basecolor
      .inner &
        background-color #fff
    &:after
      position absolute
      content ''
      transform rotate(45deg)
      height 1px
      width 6px
      top 6px
    &:before
      position absolute
      content ''
      transform rotate(-45deg)
      height 1px
      width 6px
      left 4px
      top 6px


.ico-a_big-right
  position absolute
  width 10px
  height 10px
  display block
  top 50%
  margin-top -5px
  right 0
  &:after
    position absolute
    content ''
    transform rotate(45deg)
    width 10px
    height 3px
    background-color #fff
  &:before
    position absolute
    content ''
    transform rotate(-45deg)
    width 10px
    height 3px
    background-color #fff
    top 5px

.ico-a_right
  position absolute
  width 9px
  height 10px
  display block
  top 50%
  margin-top -5px
  right 0
  &:after
    position absolute
    content ''
    transform rotate(45deg)
    width 10px
    height 2px
    background-color #fff
  &:before
    position absolute
    content ''
    transform rotate(-45deg)
    width 10px
    height 2px
    background-color #fff
    top 6px


.ico-social
  width 32px
  height 32px
  display inline-block
  background-position center
  background-repeat no-repeat
  transition background-color .3s ease-in-out
  vertical-align top
  &:hover
    background-color rgba(255,255,255, 0.3)
  + .ico-social
    margin-left 15px

  &.social_fb
    background-image url('../images/fb.png')

  &.social_tw
    background-image url('../images/twitter.png')


.ico-vcg
  position absolute
  display block
  right 0
  top 40px
  transition opacity .3s ease-in-out
  &:hover
    opacity .7
  img
    display block



.ico-support
  display inline-block
  width 29px
  height 100%
  vertical-align middle
  margin-right 8px
  svg
    width 29px
    position absolute
    height h = 30px
    top 50%
    transform translateY(-50%)
    .filled
      fill #fff !important


.ico-a_download
  display inline-block
  position relative
  height 15px
  width 1px
  background-color rgb(135,135,135)
  transform scale(-1)
  vertical-align middle
  &:after, &:before
    content ''
    display block
    position absolute
    top 3px
    height 1px
    background-color rgb(135,135,135)
    width 8px

  &:after
    transform rotate(45deg)
    left 0

  &:before
    transform rotate(-45deg)
    right 0