/**
  //TODO renew icons arrow styles
**/

.ico-a
  position absolute
  width 12px
  height 14px
  display block
  right 0
  top 0
  &.a-bottom
    &.c__d:after, &.c__d:before
      background-color basecolor
      .inner &
        background-color #fff
    &:after
      position absolute
      content ''
      transform rotate(45deg)
      height 1px
      width 6px
      top 6px
    &:before
      position absolute
      content ''
      transform rotate(-45deg)
      height 1px
      width 6px
      left 4px
      top 6px


.ico-a_big-right
  position absolute
  width 10px
  height 10px
  display block
  top 50%
  margin-top -5px
  right 0
  &:after
    position absolute
    content ''
    transform rotate(45deg)
    width 10px
    height 3px
    background-color #fff
  &:before
    position absolute
    content ''
    transform rotate(-45deg)
    width 10px
    height 3px
    background-color #fff
    top 5px

.ico-a_right
  position absolute
  width 9px
  height 10px
  display block
  top 50%
  margin-top -5px
  right 0
  -webkit-backface-visibility hidden
  &:after
    position absolute
    content ''
    transform rotate(45deg)
    width 10px
    height 2px
    background-color #fff
  &:before
    position absolute
    content ''
    transform rotate(-45deg)
    width 10px
    height 2px
    background-color #fff
    top 6px


.ico-social
  width 32px
  height 32px
  display inline-block
  background-position center
  background-repeat no-repeat
  transition background-color .3s ease-in-out
  vertical-align top
  &:hover
    background-color rgba(255,255,255, 0.3)
  + .ico-social
    margin-left 15px

  &.social_fb
    background-image url('../images/fb.png')

  &.social_tw
    background-image url('../images/twitter.png')


.ico-vcg
  position absolute
  display block
  right 0
  top 40px
  transition opacity .3s ease-in-out
  &:hover
    opacity .7
  img
    display block



.ico-support
  display inline-block
  width 29px
  height 100%
  vertical-align middle
  margin-right 8px
  svg
    width 29px
    position absolute
    height h = 30px
    top 50%
    transform translateY(-50%)
    .filled
      fill #fff !important


.ico-a_download
  display inline-block
  position relative
  height 15px
  width 1px
  background-color rgb(135,135,135)
  transform scale(-1)
  vertical-align middle
  &:after, &:before
    content ''
    display block
    position absolute
    top 3px
    height 1px
    background-color rgb(135,135,135)
    width 8px

  &:after
    transform rotate(45deg)
    left 0

  &:before
    transform rotate(-45deg)
    right 0



.ico-a_circle
  width 16px
  height 16px
  position relative
  display inline-block
  border-radius 50%
  margin-left 8px
  background-color rgba(255,255,255, 0.5)
  transition all .25s ease-in-out
  top 1px
  &.sel
    transform scale(-1)
    background rgba(255,255,255, 1)
    &:after, &:before
      margin-top -1px
  &:after, &:before
    display block
    position absolute
    content ''
    width 5px
    height 2px
    top 50%
    left 4px
    background-color #2f2f2e
    transition all .3s ease-in-out
  &:after
    transform rotate(-45deg)
    margin-left 3px

  &:before
    transform rotate(45deg)



.ico-circle_text
  font-size 12px
  font-family heavy
  border 1px solid #fff
  border-radius 50%
  display inline-block
  text-align center
  line-height 41px
  height 40px
  width 40px
  font-style normal
  margin-right 15px
  text-indent -3px


.ico-a_small
  display inline-block
  width 9px
  height 9px
  position relative
  &:after
    position absolute
    content ''
    transform rotate(45deg)
    width 10px
    height 1px
    background-color rgba(255,255,255, 0.5)
  &:before
    position absolute
    content ''
    transform rotate(-45deg)
    width 10px
    height 1px
    background-color rgba(255,255,255, 0.5)
    top 7px


.ico_arrow-button
  width 20px
  height 20px
  border-radius 50%
  border none
  &:after, &:before
    display block
    position absolute
    content ''
    width 7px
    height 2px
    top 50%
    left 50%
    margin-left -3px
    background-color #fff
    transition all .3s ease-in-out
    margin-top 1px
  &:after
    transform rotate(-45deg)
  &:before
    transform rotate(45deg)
    top 6px

  &.button_absolute
    position absolute
    .map_input &
      right 10px
      top 50%
      transform translateY(-50%)

  &:focus
    border none
    outline none

