.languages-h
  position absolute
  right 79px
  top 45px
  width 50px
  box-sizing border-box
  padding 5px 0 7px 0
  overflow hidden
  transition background-color .25s ease-in-out
  &:hover
    transition-delay .2s
    background-color #fff
    .ico-a
      &:before , &:after
        background-color #000


.languages
  list-style none
  margin 0
  padding 0
  font-family reg
  font-size 12px
  line-height 14px
  overflow hidden
  color rgb(98, 105, 103)
  max-height 25px
  transition color .2s ease-in-out, max-height 0.3s ease-out
  .languages-h:hover &
      transition-delay .2s
      color #000
      max-height 100px
  .inner &
    color rgb(98, 105, 103)


.languages-i
  a, span
    display block
    padding 0 11px
    height 26px
    line-height 26px
  &:first-letter
    text-transform uppercase
