.e_list
  margin 20px 0 0 0
  padding 0
  list-style none

.e_list-title
  font-family reg
  font-size 20px
  line-height 30px
  color #fff
  display inline-block
  .support_list &
    cursor pointer
  &:hover
    .ico-a_circle
      background rgba(255,255,255, 1)

.e_list-item
  + .e_list-item
    margin-top 15px