.e-popup_container
  *:focus
    outline 0
  h1
    display block
    text-align center
    padding 0
    margin 0
    font-family heavy
    font-size 21px
    line-height 47px
    color #ffffff
  h2
    padding 0
    margin 0
    font-family italic
    font-size 16px
    line-height 47px
    color #ffffff



.close_popup
  display block
  position absolute
  right 18px
  top 20px
  cursor pointer
  width 20px
  height 20px
  &:hover
    .ico-cross_left , .ico-cross_right
      background-color #fff

.ico-cross_left
  width 2px
  height 20px
  display block
  transform rotate(45deg)
  background #595959
  position absolute
  right 0
  margin-right 8px
  -webkit-backface-visibility hidden
  transition all .25s ease-in-out

.ico-cross_right
  display block
  width 2px
  height 20px
  transform rotate(-45deg)
  background #595959
  position absolute
  left 0
  margin-left 10px
  -webkit-backface-visibility hidden
  transition all .25s ease-in-out


.terms_conditions
  width 406px
  list-style-type: none;
  counter-reset: li-counter;
  li
    position relative
    margin-bottom 8px
    &:before
      position absolute
      left -28px
      top 0
      color #ffffff
      content counter(li-counter) '.'
      counter-increment li-counter

.popup_button
  display block
  position relative
  height 46px
  margin 0 auto
  margin-top 30px
  border none
  border-radius 0
  padding 0 46px 0 28px
  background-color rgb(71,68,63)
  font-family italic
  font-size 18px
  line-height 45px
  color #FFFFFF
  transition opacity .2s ease-in-out
  .e-popup_container &
    line-height 47px
  &:hover
    opacity .5
  .ico-a_right
    right 33px
    margin-top -4px

.popup_sent_text
  width 378px
  margin-top 15px
  margin-bottom 60px
  padding 0 40px
  box-sizing border-box
  text-align center

.popup_text
  color rgba(255,255,255,0.65)
  font-size 14px
  line-height 20px


.popup-title
  margin-top 34px
  font-family italic
  font-size 16px
  color #ffffff
  &.title_border
    border-bottom 2px solid rgba(255, 255, 255, 0.2)
    padding-bottom 7px
    margin-bottom 20px
  &:first-letter
    text-transform uppercase


.plan_title
  position absolute
  left 0
  top 0
  font-size 16px

.plan_holder
  position relative
  margin-top 26px
  .form_input
    margin-left 100px
    input[type=radio]
      margin-right 10px

.plan_conditions
  position absolute
  left 120px
  top 0
  white-space nowrap


#iframe
  display block
  width 520px
  height 470px
  background-color #fff


.iframe_holder
  padding 40px
