.e-wrapper
  position relative
  margin auto
  width $remify(1200px)
  background-color $white

.e-page_project
  margin-bottom $remify(138px)

.e-page_corporate
  margin-bottom $remify(126px)

.e-page_board_of
  margin-bottom $remify(20px)
  .e-innerpage_content_paddings
    padding-bottom 0

.e-page_sustainability
  margin-bottom $remify(150px)
  .e-innerpage_content_paddings
    padding-bottom 0

.e-wide_holder
  position relative
  width 100%
  height $remify(600px)
  padding-top $remify(54px)
  box-sizing border-box
  background-size cover
  color $white
  text-align center

.e-wide_title
  $superBold($remify(58px))
  line-height $remify(69px)
  margin-bottom $remify(40px)
  white-space nowrap

.e-wide_subtitle
  $bold($remify(16px))
  line-height $remify(19px)

.e-wide_subtitle_borders
  display inline-block
  text-transform uppercase
  padding $remify(5px) $remify(14px) $remify(5px) $remify(14px)
  border-top $remify(2px) solid $white
  border-bottom $remify(2px) solid $white

.e-quarterblock
  position relative
  width 100%
  height $remify(300px)
  padding 0 $remify(40px)
  box-sizing border-box
  $book($remify(16px))
  line-height $remify(22px)
  color $textGrey
  background-color $white
  text-align center

.e-quarterblock_inside_wide
  position absolute
  right 0
  bottom 0
  width 25%
  .e-quarterblock_text
    margin-top $remify(70px)
  .e-quarterblock_image
    position absolute
    left 50%
    bottom $remify(60px)
    transform translateX(-50%)
    width $remify(120px)

.e-quarterblock_link
  position absolute
  z-index 1
  left 0
  right 0
  top 0
  bottom 0
  padding 0 $remify(40px)
  box-sizing border-box
  width 100%
  height 100%

.e-halfblock
  width $remify(600px)
  height $remify(600px)

.e-small_carousel
  position absolute
  left 0
  right 0
  top 0
  bottom 0

.e-carousel_control_holder
  position absolute
  z-index 10
  left $remify(40px)
  top $remify(20px)
  width $remify(39px)
  height $remify(25px)
  .carousel-control
    width auto
    height auto
    position: absolute
    display block
    box-sizing content-box
    padding 5px

.left .e-carousel_controller
  transform scale(-1)

.e-carousel_controller
  display block
  width $remify(8px)
  height $remify(15px)

.e-news_date
  margin-top $remify(55px)
  margin-bottom $remify(4px)
  $itallic($remify(13px))
  color $lightGrey

.e-news_title
  margin-top $remify(51px)
  $bold($remify(24px))
  line-height $remify(29px)
  color $green

.e-news_text
  position absolute
  top $remify(136px)
  width $remify(220px)
  $book($remify(16px))
  line-height $remify(22px)
  color $textGrey

.e-quarterblock_type_holder
  position absolute
  bottom $remify(32px)
  left 50%
  transform translateX(-50%)
  width 100%
  padding 0 $remify(40px)

.e-quarterblock_type_icon
  width $remify(20px)
  height $remify(20px)

.e-quarterblock_type_title
  $bold($remify(12px))
  text-transform uppercase
  color $blue

.e-innerpage_content_paddings
  padding $remify(43px) $remify(40px) $remify(76px) $remify(148px)

.e-around_left_column_paddings
  padding $remify(40px) $remify(80px) 0 $remify(40px)
  text-align left

.e-left_paddings
  padding-left $remify(40px)

.e-left_right_left_column_paddings
  padding-left $remify(40px)
  padding-right $remify(80px)

.e-left_paddings_right_column
  padding-left $remify(150px)

.e-wideimage_after_title
  margin-top $remify(28px)

.e-page_inner_text
  position relative

.e-context_text
  display block
  position relative
  margin $remify(18px) 0
  padding-left $remify(40px)
  width $remify(590px)
  $superBold($remify(20px))
  line-height $remify(26px)
  color $green
  &:before
    position absolute
    left 0
    top $remify(6px)
    bottom $remify(6px)
    content ''
    width 1px
    background-color $lightGrey


.e-wideimage_block
  position relative
  width 100%
  height $remify(600px)
  background-size cover

.e-wideimage_block_text_holder
  position absolute
  left 0
  top 0
  bottom 0
  width $remify(300px)
  background-color $transBlack
  $itallic($remify(13px))
  line-height $remify(20px)
  color $white

.e-wideimage_sidetext_area
  $superBold($remify(20px))
  line-height $remify(20px)
  color $green

.e-wideimage_sidetext_amout
  margin-top $remify(2px)
  $book($remify(16px))
  line-height $remify(20px)
  color $white

.e-wideimage_sidetext_list
  li
    position relative
    margin-bottom $remify(16px)

.e-ico_ice
  width $remify(42px)

.e-ico_economic_zone
  width $remify(25px)

.e-ico_fuel_terminal
  width $remify(32px)

.e-ico_coal_terminal
  width $remify(41px)

.e-ico_availability_feedstock
  width $remify(37px)

.e-ico_support_of_local_authorities
  width $remify(30px)

.e-ico_state_of_art
  width $remify(61px)

.e-ico_ready_products
  width $remify(40px)

.e-ico_euro5
  width $remify(63px)

.e-ico_industrial
  width $remify(30px)

.e-ico_jobs
  width $remify(38px)

.e-ico_gdp
  width $remify(32px)

.e-ico_energy_dependence
  width $remify(16px)

.e-ico_account
  width $remify(33px)

.e-ico_boost
  width $remify(39px)
