@import 'fonts/fonts.styl'
@import 'lib/clear.styl'
@import '../../../vendor/bower_components/normalize.styl/normalize.styl'

/** settings **/
heavy = 'GeometriaHeavy'
bold = 'GeometriaBold'
reg = 'GeometriaReg'
italic = 'GeometriaRegItalic'
basecolor = rgb(60, 46, 36)
menuHover = rgb(151, 153, 152)
inputgrey = rgb(135,135,135)

/** end settings **/
@import 'page_setting'
@import 'interface/elements'
@import 'interface/header'
@import 'interface/footer'
@import 'interface/plans'
@import 'pages/home'
@import 'pages/support'
@import 'pages/plans'
@import 'pages/contacts'
@import 'pages/service'
@import 'pages/company'
