body
  -webkit-tap-highlight-color rgba(0,0,0,0)
  min-width 1200px
  line-height 1.25
  font-size 12px
  color basecolor
  font-family reg, Arial, Helvetica, sans-serif


body,html
  height 100%


a
  outline none
  text-decoration none
  color inherit


strong
  font-family bold

.content
  position relative
  min-height 100%
  background-color #313130
  &.home
    background-color #313130
    background-image url('../images/air.png')
    background-repeat no-repeat
    background-position: center -262px


.wrapper
  max-width 1200px
  margin 0 auto
  position relative
  .inner &
    padding-top 137px


.p_inner
  position relative

.inner_content
  margin 0 100px