body
  -webkit-tap-highlight-color rgba(0,0,0,0)
  min-width 1200px
  line-height 1.25
  font-size 12px
  color basecolor
  font-family reg, Arial, Helvetica, sans-serif


body,html
  height 100%

a
  outline none
  text-decoration none
  color inherit

i
  font-style normal

button
  &:focus
    outline none

h1,h2,h3,h4
  font-weight 100

strong, b
  font-family bold
  font-weight 100

.content
  position relative
  min-height 100%
  background-color #313130
  background-image url('../images/air.png')
  background-repeat no-repeat
  background-position: center -262px


.wrapper
  max-width 1200px
  margin 0 auto
  position relative


.p_inner
  position relative
  &.top_style
    padding-top 137px

.inner_content
  margin 0 100px

.block-B
  position relative
  height 470px
  z-index 2
  margin-right 100px
  background-color rgba(0,0,0,0.4)

.e-heading-inner
  position absolute
  left 450px
  top 150px

.column_block
  position relative
  width 100%