$darkGrey = rgb(103,103,102)
$lightGrey = rgba(185,186,186,0.5)
$mediumGrey = rgb(185,186,186)
$textGrey = rgb(80,80,80)
$blue = rgb(0,130,158)
$green = rgb(140,203,4)
$greenLight = rgb(140,203,4,0.05)
$greenHover = rgba(140,203,4,0.05)
$white = rgb(255,255,255)
$black = rgb(0,0,0)
$blueFiller = rgb(218,230,246)
$transBlack = rgba(0,0,0,0.3)

$transition()
  transition all 0.3s ease-in-out

$book(n)
  font-family officinaBook
  font-size n

$itallic(n)
  font-family officinaItallic
  font-size n

$bold(n)
  font-family officinaBold
  font-size n

$superBold(n)
  font-family officinaSuperBold
  font-size n

html, body
  width 100%
  font-size 16px
  color $textGrey

body
  background-color #ebebeb

ul
  margin 0
  padding 0
  li
    list-style-type none

a
  color inherit
  text-decoration none
  &:hover
    color inherit
    text-decoration none

h1,h2,h3,h4,h5,h6
  margin 0
  padding 0

.container
  margin 0
  padding 0
  width 100%

.col-xs-6, .col-xs-3, .col-xs-4, .col-xs-9, .col-xs-offset-3
  margin 0
  padding 0

.col-xs-offset-3
  margin-left 25% !important

.carousel-inner, .item, .carousel-caption
  width 100%
  height 100%

.carousel-inner
  position relative
  z-index 1

.carousel-caption
  left 0
  right 0
  top 0
  bottom 0
  padding 0
  margin 0
  padding 0 $remify(40px)
  box-sizing border-box
  text-shadow none
  text-align left

.carousel-control.right, .carousel-control.left
  background-image none
  opacity 1

@media (max-width: 1599px) and (min-width: 1400px)
  html,body
    font-size 110%

@media (min-width:1600px)
  html,body
    font-size 115%




