<head>
    <meta charset="utf-8">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <!--[if lt IE 9]>
    <link rel="stylesheet" href="{{ app.request.basepath }}/public/css/ie.css" type="text/css" media="screen, projection">
        <script src="{{ app.request.basepath }}/public/js/html5shiv.js"></script>
    <![endif]-->
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/public/css/index.css">
    <title>title</title>
</head>