{% extends 'layout.twig' %}
{% block content %}
<div class="content {{ app.request.attributes.get('_route') == 'home' ? 'home' : 'inner' }}">
  {% if app.request.attributes.get('_route') == 'currentPlan' %}
    <div class="e-overlay"></div>
  {% endif %}
  {#<div class="wrapper">#}
    {#{% include 'interface/header.twig' %}#}
    {#{% block page %}{% endblock %}#}
    {#{% include 'interface/footer.twig' %}#}
  {#</div>#}
  <div class="wrapper">
      {% include 'interface/header.twig' %}
      {% block page %}{% endblock %}
      {% include 'interface/temporary_footer.twig' %}
  </div>
  <div class="e-popup_holder" id="popup">
    <div class="e-popup_container">
      <div class="close_popup">
        <i class="ico-cross_left"></i>
        <i class="ico-cross_right"></i>
      </div>
      {% include 'popups/terms.twig' %}
      {% include 'popups/sent.twig' %}
      {% include 'popups/order_sim.twig' %}
      <div class="iframe_holder" data-popup="iframe" data-action="iframe">
        <iframe id="iframe" marginwidth='0' marginheight='0' frameborder='0' scrolling='no'></iframe>
      </div>
    </div>
  </div>
  <div id="loader"><div class="loader_section"></div></div>
</div>
{% endblock %}