<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
{% include 'head.twig' %}
<body>
{% set currentRoute = app.request.attributes.get('_route') %}
{% spaceless %}
  <div class="e-wrapper">
    {% include 'interface/header.twig' %}
    {% block content %}{% endblock %}
    {% include 'interface/footer.twig' %}
  </div>
  {% include 'scripts.twig' %}
{% endspaceless %}
</body>
</html>